:root { 
  --bordersecondary: #f0f2f7;
  --contentdisabled: #a3aab8;
  --contentprimary: #070708;
  --contentsecondary: #2b3441;
  --contenttertiary: #5c697c;
  --eerie-black: #191c22;
  --green500: #36b37e;
  --icondisabled: #c1c6d0;
  --iconprimary: #2b3441;
  --iconsecondary: #5c697c;
  --mirage: #1b1f26;
  --mirage-2: #1a1e26;
  --neutral100: #f0f2f7;
  --neutral1000: #2b3441;
  --neutral1100: #15171c;
  --neutral1200: #070708;
  --neutral1300: #000000;
  --neutral200: #ebeff5;
  --neutral50: #ffffff;
  --neutral500: #c1c6d0;
  --neutral700: #a3aab8;
  --neutral800: #98a1ae;
  --neutral900: #5c697c;
  --red200: #ffadb1;
  --red300: #ff737a;
  --red800: #980008;
  --violet400: #7788d9;
  --violet500: #5467c0;
  --yellow300: #ffe380;
  --yellow400: #ffc400;
  --yellow900: #663700;
 
  --font-size-l: 20px;
  --font-size-m: 15px;
  --font-size-s: 14px;
  --font-size-xl: 24px;
  --font-size-xs: 13px;
  --font-size-xxs: 12px;
  --font-size-xxxs: 11px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-inter-bold: "Inter-Bold", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
  --font-family-poppins-bold: "Poppins-Bold", Helvetica;
}
.body-04regular {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.body-04semibold {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
}

.body-05regular {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.body-05medium {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
}

.body-05semibold {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
}

.body-06regular {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.inter-normal-tuna-15px {
  color: var(--contentsecondary);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-athens-gray-13px {
  color: var(--neutral200);
  font-family: var(--font-family-inter-bold);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}
