<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">

<head>

    <meta charset="utf-8" />
    <title>Risk Threshold Database</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Climate Change Screening Risk Threshold Database" name="description" />
    <meta content="World Bank Group" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="../static/assets/images/favicon.ico">

    <!--datatable css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <!--datatable responsive css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">

    <!-- plugin css -->
    <link href="../static/assets/libs/jsvectormap/css/jsvectormap.min.css" rel="stylesheet" type="text/css" />

    <!-- Layout config Js -->
    <script src="../static/assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="../static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="../static/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="../static/assets/css/custom.min.css" rel="stylesheet" type="text/css" />

</head>

<body style="margin: 0; background: #f4f6f8">

    <!-- Begin page -->
    <div id="layout-wrapper">
        <header id="page-topbar">
            <div class="layout-width">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box horizontal-logo">
                            <a href="/" class="logo logo-gpbp">
                                <span class="logo-sm">
                                    <img src="../static/assets/images/logo-gpbp-edited.png" alt="" height="100">
                                </span>
                                <span class="logo-lg">
                                    <img src="../static/assets/images/logo-gpbp-edited.png" alt="" height="100">
                                </span>
                            </a>

                            <a href="tables-datatables.html" class="logo logo-gpbp">
                                <span class="logo-sm">
                                    <img src="../static/assets/images/logo-gpbp-edited.png" alt="" height="100">
                                </span>
                                <span class="logo-lg">
                                    <img src="../static/assets/images/logo-gpbp-edited.png" alt="" height="100">
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="d-flex align-items-center">

                        <div class="ms-1 header-item d-none d-sm-flex">
                            <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle" data-toggle="fullscreen">
                                <i class='bx bx-fullscreen fs-22'></i>
                            </button>
                        </div>

                        <div class="ms-1 header-item d-none d-sm-flex">
                            <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle light-dark-mode">
                                <i class='bx bx-moon fs-22'></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <!-- ========== App Menu ========== -->
        <div class="app-menu navbar-menu">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <!-- Dark Logo-->
                <a href="/" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="../static/assets/images/logo-gpbp-edited.png" alt="" height="100">
                    </span>
                    <span class="logo-lg">
                        <img src="../static/assets/images/logo-gpbp-edited.png" alt="" height="100">
                    </span>
                </a>
                <!-- Light Logo-->
                <a href="/" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="../static/assets/images/logo-gpbp-edited.png" alt="" height="100">
                    </span>
                    <span class="logo-lg">
                        <img src="../static/assets/images/logo-gpbp-edited.png" alt="" height="100">
                    </span>
                </a>
                <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
                    <i class="ri-record-circle-line"></i>
                </button>
            </div>

            <div id="scrollbar">
                <div class="container-fluid">

                    <div id="two-column-menu">
                    </div>
                    <ul class="navbar-nav" id="navbar-nav">
                        <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                                <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Dashboard</span>
                            </a>
                            <div class="collapse menu-dropdown" id="sidebarDashboards">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="/index" class="nav-link" data-key="t-rtd"> Risk Threshold Database </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/record" class="nav-link" data-key="t-newrec"> Add New Record </a>
                                    </li>
                                     <li class="nav-item">
                                        <a href="/datastories" class="nav-link" data-key="t-ref"> Data Stories </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/references" class="nav-link" data-key="t-ref"> References </a>
                                    </li>
                                </ul>
                            </div>
                        </li> <!-- end Dashboard Menu -->
                    </ul>
                </div>
                <!-- Sidebar -->
            </div>

            <div class="sidebar-background"></div>
        </div>
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start TITLE ROW  -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h1>Climate Change Risk Threshold Database</h1>
                                <h3 class="mb-sm-0">The Risk Threshold Database (RTD) compiles climate parameter levels whose exceedence would increase the likelihood of damages and losses (D&Ls) associated with a given asset, investment, or locality.  These can be applied to climate change screening of public assets, investments, and sub-national governments using the Geospatial Planning and Budgeting Platform (GPBP).</h3>

                            </div>
                        </div>
                    </div>
                    <!-- end TITLE ROW -->

                    <!-- start DATABASE ROW  -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header d-flex align-items-center">
                                    <h5 class="card-title mb-0 flex-grow-1">Data Stories</h5>
                                </div>
                                <div class="card-body">

                                    <div class="row">

                                        <div class="col-4">
                                            <div class="card">
                                              <img src="../static/assets/images/data_stories/img1.jpg" height="250" class="card-img-top" alt="When Things Fall Apart">
                                              <div class="card-body">
                                                <h5 class="card-title">When Things Fall Apart</h5>
                                                <p class="card-text">Exploring Climate Change Risk Scenario Threshold Implications</p>
                                                <p>Increasing climate change exposures are likely to magnify disruption risks for local social and economic activity, including services associated with public infrastructure. Actual vulnerabilities will depend on the degree of resilience and adaptation to prevailing and amplifying extremes in climate.
                                                    In the summer of 2022, England for the first-time experienced temperatures of over 40 degrees Celsius. Unaccustomed to these temperature levels, this led to the closure of one London airport and disrupted workplaces. This experience is likely to spur the installation of more air conditioners as one adaptation reaction.
                                                </p>
                                                <a href="https://medium.com/@mahdi.fayazbakhsh/when-things-fall-apart-ea315ae28ae8" target="_blank" class="btn btn-primary">Read More</a>
                                              </div>
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <div class="card">
                                              <img src="../static/assets/images/data_stories/img2.jpeg" height="250" class="card-img-top" alt="Benchmarking Climate Consequences">
                                              <div class="card-body">
                                                <h5 class="card-title">Benchmarking Climate Consequences to Observed Public Asset & Investment Damage & Loss Levels</h5>
                                                <p class="card-text">Articulating Likely Adverse Consequences for Specific Contexts</p>
                                                <p>Damage and losses in the context of climate change risks to infrastructure refer to the negative impacts that climate change can have on physical infrastructure such as buildings, roads, bridges, and other critical facilities. Climate change can cause more frequent and severe extreme weather events, such as floods, storms, heatwaves, droughts, and wildfires, which can damage or destroy infrastructure and result in significant social and economic losses.
                                                </p>
                                                <a href="#" target="_blank" class="btn btn-primary">Read More</a>
                                              </div>
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <div class="card">
                                              <img src="../static/assets/images/data_stories/img3.jpg" height="250" class="card-img-top" alt="Accessing and Visualizing Digital Elevation Models with Python">
                                              <div class="card-body">
                                                <h5 class="card-title">Accessing and Visualizing Digital Elevation Models with Python</h5>
                                                <p class="card-text">A tutorial in Python with openly available DEM data</p>
                                                <p>This blog summarises how to download, and visualise openly available global Digital Elevation Models for any geographic area of interest using Python</p>
                                                <a href="https://parvathykrishnank.medium.com/accessing-and-visualizing-digital-elevation-models-with-python-f4fd7f595d46?sk=53957d4f78c96a50bfbbe91daababaa3" class="btn btn-primary" target="_blank">Read More</a>
                                              </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div>
                    <!--end DATABASE row-->

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © GPBP.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Geospatial Planning and Budgeting Platform
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->



    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->

    <!--preloader-->
    <div id="preloader">
        <div id="status">
            <div class="spinner-border text-primary avatar-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="../static/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="../static/assets/libs/node-waves/waves.min.js"></script>
    <script src="../static/assets/libs/feather-icons/feather.min.js"></script>
    <script src="../static/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="../static/assets/js/plugins.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- apexcharts -->
    <script src="../static/assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- Vector map-->
    <script src="../static/assets/libs/jsvectormap/js/jsvectormap.min.js"></script>
    <script src="../static/assets/libs/jsvectormap/maps/world-merc.js"></script>

    <!--datatable js-->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <script src="../static/assets/js/pages/datatables.init.js"></script>
    
    <!-- Dashboard init -->
    <script src="../static/assets/js/pages/dashboard-analytics.init.js"></script>

    <!-- App js -->
    <script src="../static/assets/js/app.js"></script>

</body>

</html>