<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name=description content="GPBP Risk Threshold Database"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="../static/assets/css/rtd-release-notes.css" />
    <link rel="stylesheet" type="text/css" href="../static/assets/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="../static/assets/css/globals.css" />
  </head>
  <body style="margin: 0; background: #f5f8fb">
    <input type="hidden" id="anPageName" name="page" value="rtd-release-notes" />
    <div class="container-center-horizontal">
      <div class="rtd-release-notes screen">
        <div class="overlap-group3">
          <div class="overlap-group2">
            <div class="rectangle-2472"></div>
            <p class="lorem-ipsum-dolor-si-1 lorem-ipsum-dolor-si-4 inter-normal-tuna-15px">
              The first beta operational release of the risk threshold database is the initial version of the database that is made available for use by a select group of stakeholders for testing and feedback before it is released to the wider audience. This version details a methodology for developing and setting the risk thresholds. The beta release is intended to provide an opportunity for stakeholders to test and provide feedback on the database, and to help identify any issues or areas for improvement before the database is fully launched.
            </p>
            <p class="lorem-ipsum-dolor-si-2 lorem-ipsum-dolor-si-4 inter-normal-tuna-15px">
              The platform allows for basic functionalities such as adding/deleting existing records from the database based on nace codes or asset tags and include information on Likelihood of Disruption and its severity. To ensure consistency and comparability across different infrastructure projects, it's important to use a consistent methodology for setting risk thresholds. We have developed a standardized framework for assessing climate change risks and setting risk thresholds based on fragility curves that you see on the right side. Climate change risks are constantly evolving, so it's important to update your risk threshold database regularly to reflect new data and insights. This can help ensure that your risk thresholds remain relevant and effective over time. This version of the database includes UI/UX and backend capabilities to execute these functionalities and provide a collaborative playform for crowdsourcing risk thresholds for various asset types.
            </p>

            <div class="frame-11953">
              <p class="process body-05semibold">MARCH 26 2023 | V.1.0.0.beta</p>
              <div class="how-to-screen-your-project poppins-semi-bold-cod-gray-24px">First operational pre-release version</div>
            </div>
            <img class="fragility-curve-3" src="../static/assets/images/fragility-curve-3@2x.png" alt="fragility curve 3" />
            <h1 class="title">RTD Release notes</h1>
            <p class="lorem-ipsum-dolor-si-3 lorem-ipsum-dolor-si-4 inter-normal-loblolly-15px">
              Versioning is a process of tracking changes to a database or software over time, allowing users to understand how the database has evolved and to easily roll back changes if necessary. As changes are made to the UI/UX of the database, it will be documented here in the release notes and this will include a brief description of the change, and the date it was made. We also use GitHub as the version control system to manage changes to the database by our developers. This allows us to track changes over time, roll back changes if necessary, and collaborate with others on the database.
            </p>
            <div class="header-with-links">
              <img class="image-44" src="../static/assets/images/image-44@2x.png" alt="image 44" />
              <div class="frame-22">
                <a href="/">
                  <article class="header-tabs-1 header-tabs-3">
                    <div class="country-overview body-04regular">Home</div>
                  </article></a
                >
                <a href="/index"><article class="header-tabs"><div class="country-overview body-04regular">Database</div></article></a>
                <article class="header-tabs-2 header-tabs-3">
                  <div class="frame-11308">
                    <div class="frame-11309"><div class="country-overview-1 body-04regular">Release notes</div></div>
                  </div>
                </article>
                <a href="/datastories"><article class="header-tabs"><div class="country-overview body-04regular">Data stories</div></article></a>
                <a href="/references"><article class="header-tabs"><div class="country-overview body-04regular">References</div></article></a>
              </div>
            </div>
            <div class="frame-12049">
              <div class="overlap-group1">
                <div class="overlap-group">
                  <p class="v-1-0-0-beta valign-text-middle">V 1 . 0 . 0 . beta</p>
                  <div class="frame-11">
                    <div class="rectangle-1"></div>
                  </div>
                  <div class="frame-12">
                    <div class="rectangle-1-1 rectangle-1-4"></div>
                  </div>
                  <div class="frame-12053">
                    <div class="rectangle-1-2 rectangle-1-4"></div>
                  </div>
                  <div class="frame-14">
                    <div class="rectangle-1-3 rectangle-1-4"></div>
                  </div>
                  <img class="curved" src="../static/assets/images/curved-2.svg" alt="Curved" />
                </div>
                <img class="curved-1 curved-4" src="../static/assets/images/curved.svg" alt="Curved" />
                <img class="curved-2 curved-4" src="../static/assets/images/curved-1.svg" alt="Curved" />
                <img class="curved-3 curved-4" src="../static/assets/images/curved-3.svg" alt="Curved" />
              </div>
              <div class="api-changes-container api-changes-7">
                <article class="api-changes"><div class="x20 body-04regular">Major</div></article>
                <article class="api-changes-3 api-changes-7">
                  <div class="x20-1 x20-14 body-04regular">Minor</div>
                </article>
                <article class="api-changes-4 api-changes-7">
                  <div class="x20-2 x20-14 body-04regular">Patch</div>
                </article>
                <article class="api-changes-5 api-changes-7">
                  <div class="x20-3 x20-14 body-04regular">Operational pre-release</div>
                </article>
              </div>
              <div class="frame-12052">
                <div class="frame-12051">
                  <article class="api-changes"><div class="x20-4 x20-14 body-04regular">Major</div></article>
                  <article class="api-changes-6 api-changes-7">
                    <div class="x20-5 x20-14 body-04regular">Minor</div>
                  </article>
                  <article class="api-changes-1 api-changes-7">
                    <div class="x20-6 x20-14 body-04regular">Patches</div>
                  </article>
                  <article class="api-changes-2 api-changes-7">
                    <div class="x20-7 x20-14 body-04regular">Operational pre-release</div>
                  </article>
                </div>
                <div class="frame-12050 inter-normal-loblolly-15px">
                  <p class="name">Significant updates to platform</p>
                  <p class="frame-12050-item">Minor changes UI/UX</p>
                  <div class="frame-12050-item">Smaller bug fixes</div>
                  <div class="frame-12050-item">Pre-release/Testing version</div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-12053-1">
            <article class="api-changes"><div class="x20-8 x20-14 body-04regular">Major</div></article>
            <article class="api-changes-2 api-changes-7"><div class="x20-7 x20-14 body-04regular">Operational pre-release</div></article>
          </div>
        </div>
        
        <div class="frame-12054">
          <p class="process body-05semibold">MARCH 30 2023 | V.1.1.0.beta</p>
          <div class="how-to-screen-your-project poppins-semi-bold-cod-gray-24px">Adding Release Notes page to the Risk Threshold Database</div>
        </div>
        <div class="frame-1205">
          <article class="api-changes-6 api-changes-7"><div class="x20-10 x20-14 body-04regular">Minor</div></article>
          <article class="api-changes-2 api-changes-7">
            <div class="x20-11 x20-14 body-04regular">Operational pre-release</div>
          </article>
        </div>
        <p class="lorem-ipsum-dolor-si inter-normal-tuna-15px">
          Release notes page have been added to the website and minor changes have been made to ensure right links to be redirected. This version do not affect any of the functionalities released under the previous pre-release version.
        </p>

         <div class="frame-12054">
          <p class="process body-05semibold">April 04 2023 | V.1.2.0.beta</p>
          <div class="how-to-screen-your-project poppins-semi-bold-cod-gray-24px">Adding References page to the Risk Threshold Database</div>
        </div>
        <div class="frame-1205">
          <article class="api-changes-6 api-changes-7"><div class="x20-10 x20-14 body-04regular">Minor</div></article>
          <article class="api-changes-2 api-changes-7">
            <div class="x20-11 x20-14 body-04regular">Operational pre-release</div>
          </article>
        </div>
        <p class="lorem-ipsum-dolor-si inter-normal-tuna-15px">
          References page have been added to the dashboard giving global references as to how risk thresholds can be initialised for different project types and geographies. This version do not affect any of the functionalities released under the previous pre-release version.
        </p>

        <div class="frame-1205">
          <p class="process body-05semibold">April 19 2023 | V.1.3.0.beta</p>
          <div class="how-to-screen-your-project poppins-semi-bold-cod-gray-24px">Adding Data Stories to Risk Threshold Database</div>
        </div>
        <div class="frame-1205">
          <article class="api-changes-6 api-changes-7"><div class="x20-10 x20-14 body-04regular">Minor</div></article>
          <article class="api-changes-2 api-changes-7">
            <div class="x20-11 x20-14 body-04regular">Operational pre-release</div>
          </article>
        </div>
        <p class="lorem-ipsum-dolor-si inter-normal-tuna-15px">
          Data Stories page have been updated with 3 stories published in Medium.
        </p>

      </div>
    </div>
  </body>
</html>
